In [10]:
import requests

In [22]:
data = requests.get('https://groww.in/v1/api/charting_service/v4/chart/exchange/BSE/segment/CASH/530525?endTimeInMillis=1744648577776&intervalInMinutes=5&startTimeInMillis=1742927400000')

In [23]:
data_json = data.json()

In [24]:
data_candles = data_json['candles']

In [25]:
data_list = []
for each_data in data_candles:
    temp_dict = {}
    temp_dict['timestamp'] = each_data[0]
    temp_dict['open'] = each_data[1]
    temp_dict['high'] = each_data[2]
    temp_dict['low'] = each_data[3]
    temp_dict['close'] = each_data[4]
    temp_dict['volume'] = each_data[5]
    data_list.append(temp_dict)

In [16]:
import pandas as pd

In [17]:
pd.DataFrame(data_list)

      timestamp  open  high   low  close  volume
0    1742960700  7.82  7.82  7.80   7.80   10427
1    1742961000  7.82  7.82  7.80   7.82   12569
2    1742961300  7.80  7.80  7.79   7.79   16139
3    1742961600  7.79  7.79  7.75   7.75   19733
4    1742961900  7.75  7.75  7.60   7.75   23587
..          ...   ...   ...   ...    ...     ...
731  1744364220  7.18  7.19  7.18   7.19   85321
732  1744364520  7.19  7.20  7.18   7.18   87038
733  1744364880  7.28  7.28  7.11   7.20   91300
734  1744365240  7.20  7.25  7.20   7.25   92358
735  1744365540  7.22  7.22  7.22   7.22   92424

[736 rows x 6 columns]

In [26]:
keys = ['timestamp' , 'open' , 'high' , 'low' , 'close' , 'volume']

736

In [27]:
pd.DataFrame([ dict(zip(keys,each_candle)) for each_candle in data_candles ])

      timestamp  open  high   low  close  volume
0    1742960700  7.82  7.82  7.80   7.80   10427
1    1742961000  7.82  7.82  7.80   7.82   12569
2    1742961300  7.80  7.80  7.79   7.79   16139
3    1742961600  7.79  7.79  7.75   7.75   19733
4    1742961900  7.75  7.75  7.60   7.75   23587
..          ...   ...   ...   ...    ...     ...
731  1744364220  7.18  7.19  7.18   7.19   85321
732  1744364520  7.19  7.20  7.18   7.18   87038
733  1744364880  7.28  7.28  7.11   7.20   91300
734  1744365240  7.20  7.25  7.20   7.25   92358
735  1744365540  7.22  7.22  7.22   7.22   92424

[736 rows x 6 columns]

In [119]:
from datetime import datetime
endtime = datetime(2025, 4, 15, 12, 30, 0)
endtime = endtime.timestamp()

#url = f"https://groww.in/v1/api/charting_service/v4/chart/exchange/NSE/segment/CASH/MOTHERSON?endTimeInMillis={endtime}&intervalInMinutes={interval}&startTimeInMillis={starttime}"

In [121]:
from datetime import datetime, timedelta

def iterate_dates(start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        yield current_date , current_date + timedelta(hours = 6 , minutes = 15)
        current_date += timedelta(days=1)

end = datetime(2025, 4, 15 , 3 , 30 , 00)
start = datetime(2025, 4, 5 , 9 , 15 , 00)

In [122]:
data = []
for start , end_date in iterate_dates(start , end):
    endtime = end_date.timestamp() * 1000
    starttime = start.timestamp() * 1000
    interval = 1
    sym_ticker = 'GRSE'
    url = f"https://groww.in/v1/api/charting_service/v4/chart/exchange/NSE/segment/CASH/{sym_ticker}?endTimeInMillis={endtime}&intervalInMinutes={interval}&startTimeInMillis={starttime}"
    
    response = requests.get(url)
    response = response.json()
    data.extend(response['candles'])

In [128]:
df=pd.DataFrame([ dict(zip(keys,each_candle)) for each_candle in data ])
print(df.tail())

       timestamp     open     high      low    close   volume
1495  1744365300  1613.55  1613.55  1611.90  1613.40  1147602
1496  1744365360  1613.00  1614.00  1612.75  1614.00  1150901
1497  1744365420  1614.60  1616.20  1614.00  1615.65  1156978
1498  1744365480  1616.00  1619.00  1615.05  1618.00  1162109
1499  1744365540  1619.85  1619.85  1606.30  1617.00  1168960

In [131]:
data = [
    {"name": "Alice", "age": 25, "city": "New York"},
    {"name": "Bob", "age": 30, "city": "Los Angeles"},
    {"name": "Charlie", "age": 35, "city": "Chicago"}
]

df=pd.DataFrame(data)
print(df)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [139]:
data = [
    {"name": "Alice", "fg": 25},
    {"as": "Bob", "city": "LA"},
    {"we": "Charlie", "age": 35, "city": "Chicago"}
]
df=pd.DataFrame(data)
print(df)

    name    fg   as     city       we   age
0  Alice  25.0  NaN      NaN      NaN   NaN
1    NaN   NaN  Bob       LA      NaN   NaN
2    NaN   NaN  NaN  Chicago  Charlie  35.0
5

In [140]:
print(len("Hello"))

5

In [142]:
print(len([1, 2, 3]))

3

In [144]:
print(max(1, 3, 2))

3

In [146]:
print(max("a", "z", "m"))

z

In [148]:
def add(a,b):
    return a+b

add(1,3)

4

In [150]:
print(add("Hello, ", "World!"))
print(add([1, 2], [3, 4]))

Hello, World!
[1, 2, 3, 4]

In [152]:
class Shape:
    def area(self):
        return "Undefined"

class Rectangle(Shape):
    def __init__(self, length, width):
        self.length = length
        self.width = width

    def area(self):
        return self.length * self.width

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

shapes = [Rectangle(2, 3), Circle(5)]
for shape in shapes:
    print(f"Area: {shape.area()}")

Area: 6
Area: 78.5

In [154]:
import pandas as pd

In [190]:
# Left table
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'test':[[1,2],[3,4],[4,5]]
})
print(df1)

   id     name    test
0   1    Alice  [1, 2]
1   2      Bob  [3, 4]
2   3  Charlie  [4, 5]

In [191]:
# Right table
df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'score': [85, 90, 95],
    'test':[[1,2],[3,4],[5,6]]
})
print(df2)

   id  score    test
0   1     85  [1, 2]
1   2     90  [3, 4]
2   4     95  [5, 6]

In [177]:
inner=pd.merge(df1,df2 , on=['id','test'],how='inner')
print(inner)

   id   name    test  score
0   1  Alice  (1, 2)     85
1   2    Bob  (3, 4)     90

In [178]:
leftjoin=pd.merge(df1,df2,on=['id','test'],how='left')
print(leftjoin)

   id     name    test  score
0   1    Alice  (1, 2)   85.0
1   2      Bob  (3, 4)   90.0
2   3  Charlie  (4, 5)    NaN

In [179]:
rightjoin=pd.merge(df1,df2,on=['id','test'],how='right')
print(rightjoin)

   id   name    test  score
0   1  Alice  (1, 2)     85
1   2    Bob  (3, 4)     90
2   4    NaN  (5, 6)     95

In [181]:
rightjoin=pd.merge(df1,df2,on=['id','test'],how='outer')
print(rightjoin)

   id     name    test  score
0   1    Alice  (1, 2)   85.0
1   2      Bob  (3, 4)   90.0
2   3  Charlie  (4, 5)    NaN
3   4      NaN  (5, 6)   95.0

In [185]:
frozenset([1,2]) is frozenset([2,1])

False

In [192]:
df1['test'] = df1.test.apply(lambda x : frozenset(x))

In [194]:
df1

   id     name    test
0   1    Alice  (1, 2)
1   2      Bob  (3, 4)
2   3  Charlie  (4, 5)

In [196]:
df2['test']=df2.test.apply(lambda x: frozenset(x))

In [199]:
df2.test.iloc[0]

frozenset({1, 2})

In [205]:
inneejoin=pd.merge(df1,df2,on=['id','test'],how='inner')
print(inneejoin)

   id   name    test  score
0   1  Alice  (1, 2)     85
1   2    Bob  (3, 4)     90

In [206]:
outerjoin=pd.merge(df1,df2, on=['id','test'],how='outer')
print(outerjoin)

   id     name    test  score
0   1    Alice  (1, 2)   85.0
1   2      Bob  (3, 4)   90.0
2   3  Charlie  (4, 5)    NaN
3   4      NaN  (5, 6)   95.0

In [209]:
rightJoin=pd.merge(df1,df2, on=['id','test'],how='right')
print(rightJoin)

   id   name    test  score
0   1  Alice  (1, 2)     85
1   2    Bob  (3, 4)     90
2   4    NaN  (5, 6)     95

In [210]:
leftJoin=pd.merge(df1,df2, on=['id','test'],how='left')
print(leftJoin)

   id     name    test  score
0   1    Alice  (1, 2)   85.0
1   2      Bob  (3, 4)   90.0
2   3  Charlie  (4, 5)    NaN

In [231]:
numbers = [5, 4, 3, 2, 1, 0]
target = 14

In [244]:
from itertools import product
def find_target(numbers,target):
    result=set()
    for num in product(numbers,repeat=4):
        if sum (num)==target:
            result.add(tuple(sorted(num)))
    return [list(r) for r in result]

find_target(numbers,target)

[[2, 2, 5, 5],
 [1, 3, 5, 5],
 [1, 4, 4, 5],
 [3, 3, 3, 5],
 [2, 3, 4, 5],
 [2, 4, 4, 4],
 [0, 4, 5, 5],
 [3, 3, 4, 4]]

In [246]:
from itertools import combinations

def find_combos(numbers, target):
    result = []
    for combo in combinations(numbers, 5):  # picks 4 unique numbers
        if sum(combo) == target:
            result.append(sorted(combo))
    return result

find_combos(numbers,target)

[[0, 2, 3, 4, 5]]