In [3]:
import requests

In [4]:
data = requests.get('https://groww.in/v1/api/charting_service/v4/chart/exchange/BSE/segment/CASH/530525?endTimeInMillis=1744648577776&intervalInMinutes=5&startTimeInMillis=1742927400000')

In [7]:
data_json = data.json()

In [10]:
data_candles = data_json['candles']

In [15]:
data_list = []
for each_data in data_candles:
    temp_dict = {}
    temp_dict['timestamp'] = each_data[0]
    temp_dict['open'] = each_data[1]
    temp_dict['high'] = each_data[2]
    temp_dict['low'] = each_data[3]
    temp_dict['close'] = each_data[4]
    temp_dict['volume'] = each_data[5]
    data_list.append(temp_dict)

In [16]:
import pandas as pd

In [17]:
pd.DataFrame(data_list)

      timestamp  open  high   low  close  volume
0    1742960700  7.82  7.82  7.80   7.80   10427
1    1742961000  7.82  7.82  7.80   7.82   12569
2    1742961300  7.80  7.80  7.79   7.79   16139
3    1742961600  7.79  7.79  7.75   7.75   19733
4    1742961900  7.75  7.75  7.60   7.75   23587
..          ...   ...   ...   ...    ...     ...
731  1744364220  7.18  7.19  7.18   7.19   85321
732  1744364520  7.19  7.20  7.18   7.18   87038
733  1744364880  7.28  7.28  7.11   7.20   91300
734  1744365240  7.20  7.25  7.20   7.25   92358
735  1744365540  7.22  7.22  7.22   7.22   92424

[736 rows x 6 columns]

In [18]:
keys = ['timestamp' , 'open' , 'high' , 'low' , 'close' , 'volume']

736

In [35]:
pd.DataFrame([ dict(zip(keys,each_candle)) for each_candle in data_candles ])

      timestamp  open  high   low  close  volume
0    1742960700  7.82  7.82  7.80   7.80   10427
1    1742961000  7.82  7.82  7.80   7.82   12569
2    1742961300  7.80  7.80  7.79   7.79   16139
3    1742961600  7.79  7.79  7.75   7.75   19733
4    1742961900  7.75  7.75  7.60   7.75   23587
..          ...   ...   ...   ...    ...     ...
731  1744364220  7.18  7.19  7.18   7.19   85321
732  1744364520  7.19  7.20  7.18   7.18   87038
733  1744364880  7.28  7.28  7.11   7.20   91300
734  1744365240  7.20  7.25  7.20   7.25   92358
735  1744365540  7.22  7.22  7.22   7.22   92424

[736 rows x 6 columns]

In [41]:
from datetime import datetime
endtime = datetime(2025, 4, 14, 12, 30, 0)
endtime = endtime.timestamp()

#url = f"https://groww.in/v1/api/charting_service/v4/chart/exchange/NSE/segment/CASH/MOTHERSON?endTimeInMillis={endtime}&intervalInMinutes={interval}&startTimeInMillis={starttime}"

In [88]:
from datetime import datetime, timedelta

def iterate_dates(start_date, end_date):
    current_date = start_date
    while current_date <= end_date:
        yield current_date , current_date + timedelta(hours = 6 , minutes = 15)
        current_date += timedelta(days=1)

end = datetime(2025, 4, 14 , 3 , 30 , 00)
start = datetime(2025, 4, 1 , 9 , 15 , 00)

In [89]:
data = []
for start , end_date in iterate_dates(start , end):
    endtime = end_date.timestamp() * 1000
    starttime = start.timestamp() * 1000
    interval = 1
    sym_ticker = 'SBIN'
    url = f"https://groww.in/v1/api/charting_service/v4/chart/exchange/NSE/segment/CASH/{sym_ticker}?endTimeInMillis={endtime}&intervalInMinutes={interval}&startTimeInMillis={starttime}"
    response = requests.get(url)
    response = response.json()
    data.extend(response['candles'])

In [90]:
pd.DataFrame([ dict(zip(keys,each_candle)) for each_candle in data ])

       timestamp    open    high     low   close   volume
0     1743479100  766.80  771.50  763.75  771.50   216443
1     1743479160  770.60  771.45  769.30  771.00   267205
2     1743479220  771.05  773.85  771.05  773.10   318077
3     1743479280  773.00  773.20  772.55  772.70   350623
4     1743479340  773.00  773.00  772.15  772.40   391039
...          ...     ...     ...     ...     ...      ...
2995  1744365300  753.55  753.55  753.45  753.45  9236405
2996  1744365360  753.50  753.50  753.30  753.30  9280650
2997  1744365420  753.25  753.60  753.25  753.60  9315245
2998  1744365480  753.50  753.85  753.50  753.85  9333568
2999  1744365540  754.00  754.00  753.60  754.00  9351934

[3000 rows x 6 columns]