In [2]:
print("Hello World")
if 10 > 5:
     print("This is true")
     print("I am tab indentation")
print("I have no indentation!!")    

#to print multiple variable 
s="Alice"
age=28
city= "Hyderabad"
print(s,age,city)

#Output Formatiing
amount =150
print("Amount: ${:.2f}".format(amount))

#using sep and end parameter
print("ABC",end='@\n')
print('A','B','C' ,sep="-")

#using f-string
name="Aprajita"
age="28"
print(f"Hello , My name is {name} and I am {age} years old")

Hello World
This is true
I am tab indentation
I have no indentation!!
Alice 28 Hyderabad
Amount: $150.00
ABC@
A-B-C
Hello , My name is Aprajita and I am 28 years old
The sum is 72

In [8]:
#using % operator
# Taking input from the user
num = int(input("Enter a value: "))

add = num + 5
# Output
print("The sum is %d" %add)

The sum is 7

In [16]:
#taking multiple input in python
x,y =input("Enter two variables:").split()
print("Number of boy:",x)
print ("Number of girsl",y)

x,y,z =input("Enter three valiable:").split()
print("number of Boys",x)
print("number of girsl",y)
print("number of stsudents",z)

Number of boy: 2
Number of girsl 34
number of Boys 2
number of girsl 34
number of stsudents 56

In [25]:
#Take Conditional Input from user in Python
age_input=input("Enter your age :")
age=int(age_input)
if age<0:
    print("Please enetre a valid age")
elif age<18:
    print("You ae a minor")
elif age >= 18 and age <65:
    print("You are adult")
else:
    print("you aare a senior citizen")

You are adult

In [28]:

#typecasting
price =float(input("Price of each rose?:"))
print(price)

22.0

In [30]:
#find data type
a="Alish"
b =10
c=11.22
d=("Geeks", "For", "geeks")
e=["Geeks", "for" ,"geeks"]
f={"Geeks":1 ,"for":2 ,"geeks":3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [36]:
a=b=c=100
print(a,b,c)

age=24
n=str(age)
print(n)
v=4
x=float(v)
print(x)

100 100 100
24
4.0

In [41]:
#scope of variable
def f():
    a="I am local"
    print(a)
f()

I am local

In [45]:
#global variable
a="I am gobal"
def function():
    #global a
    a="Modified"
    print(a)
function()
print(a)

Modified
I am gobal

In [49]:
# working of try() 
def divide(x, y):
    try:
        # Floor Division : Gives only Fractional Part as Answer
        result = x // y
        print("Yeah ! Your answer is :", result)
    except ZeroDivisionError:
        print("Sorry ! You are dividing by zero ")

# Look at parameters and note the working of Program
divide(3, 0)

Sorry ! You are dividing by zero

In [7]:
list=[1,2,3,]
list.append([4,5])
print(list)
list.extend([4,5,6])
print(list)

[1, 2, 3, [4, 5]]
[1, 2, 3, [4, 5], 4, 5, 6]

In [14]:
fruits =["apple","banana","cherry","guava"]
#for index, fruit in enumerate(fruits, start=1):
fruit_list=[f"{i}:{fruit}" for i , fruit in enumerate(fruits)]
print(fruit_list)

['0:apple', '1:banana', '2:cherry', '3:guava']